<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fx.dao.mapper.hr.MenuMapper">
    <resultMap id="BaseResultMap" type="fx.model.entity.hr.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="keepAlive" property="keepalive" jdbcType="BIT"/>
        <result column="requireAuth" property="requireauth" jdbcType="BIT"/>
        <result column="parentId" property="parentid" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <association property="meta" javaType="fx.model.param.Menu.Meta">
            <result column="keepalive" property="keepalive" jdbcType="BIT"/>
            <result column="requireauth" property="requireauth" jdbcType="BIT"/>
        </association>
    </resultMap>

    <resultMap id="Menus2" type="fx.model.entity.hr.Menu" extends="BaseResultMap">
        <collection property="children" ofType="fx.model.entity.hr.Menu">
            <id column="id2" property="id" jdbcType="INTEGER"/>
            <result column="url2" property="url" jdbcType="VARCHAR"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <result column="keepAlive2" property="keepalive" jdbcType="BIT"/>
            <result column="requireAuth2" property="requireauth" jdbcType="BIT"/>
            <result column="parentId2" property="parentid" jdbcType="INTEGER"/>
            <result column="enabled2" property="enabled" jdbcType="BIT"/>
            <association property="meta" javaType="fx.model.param.Menu.Meta">
                <result column="keepalive2" property="keepalive" jdbcType="BIT"/>
                <result column="requireauth2" property="requireauth" jdbcType="BIT"/>
            </association>
        </collection>
    </resultMap>
    <!--根据用户id查询菜单列表
    根据用户id先去hr_role表里查rid
    再去menu_role表里面查mid
    再拿着mid去menu里面查id
    -->
    <select id="getMenusByHrId" resultMap="Menus2">
        select distinct
            m1.*,
            m2.id          AS id2,
            m2.component   as component2,
            m2.enabled     AS enabled2,
            m2.iconCls     AS iconCls2,
            m2.keepAlive   AS keepAlive2,
            m2.`name`      AS name2,
            m2.parentId    AS parentId2,
            m2.requireAuth AS requireAuth2,
            m2.path        AS path2
        from menu m1, menu m2, hr_role hrr, menu_role mr
        WHERE m1.id = m2.parentId and hrr.hrid = #{hrid} AND hrr.rid = mr.rid AND mr.mid = m2.id AND m2.enabled = 1
        ORDER BY m1.id, m2.id
    </select>


    <resultMap id="MenuWithRole" type="fx.model.entity.hr.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="fx.model.entity.hr.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="rnameZh"/>
        </collection>
    </resultMap>
    <select id="getAllMenuWitchRole" resultMap="MenuWithRole">
        SELECT
            m.id,
            m.url,
            m.`path`,
            m.`component`,
            m.`name`,
            m.`iconCls`,
            m.`keepAlive`,
            m.`requireAuth`,
            m.`parentId`,
            m.`enabled`,
            r.`id`   AS rId,
            r.`name` AS rName
        FROM (
                menu m LEFT JOIN menu_role mr ON m.`id` = mr.`mid`)
            LEFT JOIN role r ON mr.`rid` = r.`id`
        ORDER BY m.`id` ASC
    </select>

    <resultMap id="MenuWithChildren" type="fx.model.entity.hr.Menu" extends="BaseResultMap">
        <!--左 ：数据库查出来的 右 实体类中的字段名-->
        <id column="id1" property="id"/>
        <result column="name1" property="name"/>
        <collection property="children" ofType="fx.model.entity.hr.Menu">
            <id column="id2" property="id"/>
            <result column="name2" property="name"/>
            <collection property="children" ofType="fx.model.entity.hr.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getAllMenu" resultMap="MenuWithChildren">
        SELECT
            m1.`id`   AS id1,
            m1.`name` AS name1,
            m2.`id`   AS id2,
            m2.`name` AS name2,
            m3.`id`   AS id3,
            m3.`name` AS name3
        FROM menu m1, menu m2, menu m3
        WHERE m1.`id` = m2.`parentId` AND m2.`id` = m3.`parentId` AND m3.`enabled` = TRUE
        ORDER BY m1.`id`, m2.`id`, m3.`id`
    </select>
</mapper>